<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'/>
    <title>404</title>
    <style>
      body {
        font-family: 'Courier', monospace;
        width: 300px;
        margin: auto
      }
      img { margin-left: .2em }
      p { line-height: 1.25 }
      a { text-decoration: none }
      a, a:visited { color: teal }
      pre {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word
      }
      a:hover { color: #00AADD }
      .main { text-decoration: underline }
      ::selection { background: #78e0ff }
      ::-moz-selection { background: #78e0ff }
    </style>
  </head>
  <body>
    <h1>404<img alt='Sword' src='/favicon.ico'/></h1>
    <p>Route: <b><%= self %></b></p>
    <p>This page or file doesn’t exist.</p>
  </body>
</html>
